<link rel="stylesheet" href="/css/home.css">
<section class="home">
<h1><%=title%></h1>

<% if(locals.user){ %>
<section id="feed-post">
    <h4>Posts</h4>
    <form id="new-post-form" action="/posts/posts-create" method="post">
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
            <div id="posts-list-container">
                <ul>
                    <%- include('_post') -%>
                </ul>
            </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>

        <% for(let x of all_users){ %>
            <p>
                <a href="/users/profile/?id=<%=x.id%>">
                    <%=x.email%>
                </a>
            </p>
            <% } %>
    </section>

    <%- include("_chatbox") -%>
<% } %>

    <script>
        $(".toggle-like-button").each(() => {
            let self = this;
            let toggleLike = new toggleLike(self);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.esm.min.js"></script>
    <script src="/js/chat_engine.js"></script>
</section>